* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    width: 100%;
    max-width: 46rem;
    background-color: white;
    padding: 15px 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.titulo {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: black;
    margin: 0 0 10px;
    user-select: none;
}

.grupo_campo {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .grupo_campo {
        display: flex;
        position: relative;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
    }
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario button {
    width: 40%;
    height: 45px;
    font-size: 1.2rem;
    color: white;
    background-color: rgb(255, 101, 0);
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 20px;
    transition: all 0.2s ease;
}