* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e3e3e3;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    width: 100%;
    max-width: 46rem;
    background-color: white;
    padding: 15px 20px 0;
    border-radius: 10px;
}

.titulo {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: black;
    margin: 0 0 10px;
    user-select: none;
}

.grupo_campo {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .grupo_campo {
        display: flex;
        position: relative;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
    }
}

.label_campo {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.formulario label {
    position: absolute;
    text-transform: uppercase;
    pointer-events: none;
    left: 1rem;
    padding: 2px;
    transform: translateY(75%);
    cursor: default;
    transition: all 200ms ease 0s;
    background-color: white;
    color: rgb(127, 133, 141);
    font-size: 0.75rem;
    font-weight: 400;
}

.formulario .label_ativa {
    font-weight: bold;
    color: black;
    transform: translateY(-50%);
}

.formulario .label_erro {
    color: rgb(230, 0, 0);
}

.formulario .campo_erro {
    border-color: rgb(230, 0, 0);
}

.formulario input {
    height: 3rem;
    width: 100%;
    background: none;
    border: 0.0625rem solid black;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
    padding: 0.6875rem 1rem;
    color: #343434;
    margin: 0 0 15px;
    transition: all 200ms ease;
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario button {
    width: 40%;
    height: 45px;
    font-size: 1.2rem;
    color: white;
    background-color: rgb(255, 101, 0);
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 20px;
    transition: all 0.2s ease;
}