.label-campo {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.label-campo label {
    position: absolute;
    text-transform: uppercase;
    pointer-events: none;
    left: 1rem;
    padding: 2px;
    transform: translateY(75%);
    cursor: default;
    transition: all 300ms ease 0s;
    color: #7f858d;
    font-size: 0.75rem;
    font-weight: 400;
}

.label-campo input {
    height: 3rem;
    width: 100%;
    background: none;
    border: 0.0625rem solid #7f858d;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
    padding: 0.6875rem 1rem;
    color: #565c69;
    margin: 0 0 15px;
    transition: all 300ms ease 0s;
}

.label-campo input:focus ~ label,
.label-campo input:valid ~ label {
    font-size: 0.75rem;
    font-weight: bold;
    background-color: white;
    color: black;
    transform: translateY(-50%);
}

.label-campo .campo_erro ~ label,
.label-campo .campo_erro,
.label-campo .campo_erro:focus, 
.label-campo .campo_erro:focus ~ label {
    color: rgb(230, 0, 0);
    border-color: rgb(230, 0, 0);
    outline-color: rgb(230, 0, 0);
}