/* Conteiners gerais */
.footerbox {
    background-color: #212121;
    border-top: 1px solid #121212;
}

.rodape {
    background-color: 212121;
    margin: 0;
    padding: 0;
}


/* Links de navegação */
.rodape .atalhos{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.rodape .link-section {
    position: relative;
    width: 25%;
    float: left;
    padding: 0 10px;
}

.rodape .link-section h5 {
    color: #ff5510;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 10px;
}

.rodape .link-section ul {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}

.rodape .link-section ul li {
    padding: 2px 0;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
}

.rodape .link-section .link-icon {
    color: #777;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    display: inline-block;
}

.rodape .link-section a {
    color: #ddd;
    text-decoration: none;
    transition: 300ms;
}

@keyframes rotate-link-icon {
    0% {transform: rotateZ(0deg)}
    100% {transform: rotateZ(360deg);}
}

.rodape .link-section li:hover .link-icon {
    animation: rotate-link-icon 300ms;
    color: #ff5510;
}

.rodape .link-section li:hover > a{
    color: #ff5510;
}


/* Links de redes sociais */
.rodape .redes-sociais {
    background-color: #262626;
    width: 100%;
    clear: both;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 35px 10px;
    font-size: 30px;
    text-align: center;
}

.rodape .redes-sociais h5 {
    color: #eee;
    font-size: 12px;
    font-weight: 400;
    padding: 0 0 10px 0;
}


.rodape .redes-sociais ul {
    list-style: none;
}

.rodape .redes-sociais li {
    color: #ff5510;
    display: inline-block;
    padding: 0 5px;
}

.rodape .redes-sociais span {
    display: inline-block;
    color: #ff5510;
}