.formUsuario {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    width: 100%;
    max-width: 46rem;
    background-color: white;
    padding: 15px 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.3);
}

.formUsuario .titulo {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: var(--primaria);
    margin: 0 0 15px;
    user-select: none;
}

.grupo-campo {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .grupo-campo {
        display: flex;
        position: relative;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
    }
}

.formUsuario .button-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formUsuario button {
    width: 40%;
    height: 45px;
    font-size: 1.2rem;
    color: white;
    background-color: var(--primaria);
    border: 2px transparent;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 20px;
    transition: all 0.2s ease;
}

.formUsuario .button-box p {
    padding-bottom: 20px;
}

.formUsuario .button-box a {
    text-decoration: none;
    text-decoration: underline;
    color:var(--primaria);
}