.loginForm {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    width: 100%;
    max-width: 23rem;
    background-color: white;
    padding: 15px 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.3);
}

.loginForm .titulo {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: black;
    margin: 0 0 20px;
    user-select: none;
}

.loginForm button {
    width: 40%;
    max-width: 250px;
    height: 45px;
    font-size: 1.2rem;
    color: white;
    background-color: rgb(255, 101, 0);
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 20px;
    transition: all 0.2s ease;

}

.loginForm .button-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginForm .button-box p {
    padding-bottom: 20px;
}

.loginForm .button-box a {
    text-decoration: none;
    text-decoration: underline;
    color:rgb(255, 101, 0)
}