.headerbox {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    max-width: 100vw;
    overflow: hidden;
    z-index: 99;
    background-color: var(--secundaria);
    border-bottom: 3px solid var(--primaria);
    padding: 1.8125rem 0px;
}

.cabecalho {
    min-height: auto;
    min-width: auto;
    width: 100%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background-color: transparent;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
}

.cabecalho .logo {
    grid-column: span 2 / auto;
}

.cabecalho .logo h1 {
    display: flex;
    font-size: 2em;
    color: #fff;
    user-select: none;
    align-items: center;
    justify-content: center;
}

.cabecalho .logo img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 6px;
}

.cabecalho .logo h1 a {
    color: #fff;
    user-select: none;
    text-decoration: none;
}

.cabecalho .gap {
    grid-column: span 4 / auto;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    grid-column: span 5 / auto;
}

.navbar > a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    user-select: none;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
}

.navbar > a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 200ms;
}

.navbar > a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navbar .btnLogin {
    width: 130px;
    height: 50px;
    background: transparent;
    user-select: none;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 25px;
    transition: 200ms ease;
}

.navbar .btnLogin:hover {
    background: #fff;
    color: #162938;
}
