<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="../estilos/bootstrap.min.css">
</head>
<body>
    <header>
        <div class="header_full_banner">
           <div class="header">
              <div class="container">
                 <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                       <div class="full">
                          <div class="center-desk">
                             <div class="logo">
                                <a href="index.html"><img src="images/logo.png" alt="#" /></a>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                       <ul class="btn">
                          <li class="login_btn"><a href="#">Login</a></li>
                          <li><a href="#">Sign Up</a></li>
                          <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                       </ul>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </header>
</body>
</html>