* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primaria: #FF6500; /* #FF6500 */
  --secundaria: #0080d1; /* #0060b1 */
  --dominante: #fff; /* #fff */

  --vermelho-cereja: #DC143C;

  --sucesso: #198754; /* #198754 */
  --aviso: #ffc107; /* #ffc107 */
  --erro: #e60000; /* #e60000 */

  --escuro-primario: #212121; /* #212121 */
  --escuro-secundario: #262626; /* #262626 */
}

body {
  min-height: 100vh;
}